<%- include('../../views/header_email.ejs') %>
<p style="margin-bottom: 20px">
  ¡Hola <strong><%= userToLogin.name%></strong>, un gusto saludarte!
</p>
<p style="margin-bottom: 20px">
  Tu código de verificación es: <strong><%= verificationCode %></strong>
</p>
<p style="margin-bottom: 20px">
  Para restablecer, haz click <a href="#ColocarLocal">Restaurar contraseña</a>
</p>
<p style="margin-bottom: 20px">
  <strong
  >Si no solicitaste restablecer tu contraseña, no es necesario que realices
  ninguna acción.</strong
  >
</p>
<p style="margin-bottom: 20px">¡Att. Soporte - Terminal Digital!</p>
<%- include('../../views/footer_email') %>
